@import './table.scss';
@import './color.scss';
@import './buttons.scss';
@import './fonts.scss';

.custom-select, .custom-select:focus {
    background: #e0dbdb36 !important;
    border: none !important;
    outline: none ;
    box-shadow:none;
    color: white ;
}

.form-control, .form-control:focus {
  padding-left: 20px;
  background-color: transparent ;
  border: none ;
  outline: none ;
  box-shadow:none;
  background-color: #e0dbdb36;
  border-radius: 20px;
  color: white ;
}

#app {
  color: #e0dbdb !important;
  font-size: 0.6rem;
}

::-webkit-scrollbar {
  width:4px;
}

.highcharts-title {
  font-size: 0.7rem !important;
}

::-webkit-scrollbar {
  width:4px;
}

::-webkit-scrollbar {
  height: 2px;
}

.btn {
  border-radius: 20px;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

.titleSubContainer {
  text-align: center;
  font-size: 0.9rem;
}


.subContainer {
  z-index: 2;
  padding: 5px;
  border: 1px solid rgba(30, 43, 55, 0.36);
}
