.table-hover tbody tr:hover, .table-striped tbody tr:nth-of-type(odd) {
  color: #e0dbdb;
  background-color: transparent;

}

tbody tr:hover {
 background-color: #474a4a !important;
}

table, th, td, tr {
  // border-bottom-color:  transparent !important;
      border-top-color: transparent !important;
}

tr {

  width: 100% !important;
  display: inline-table !important;

}
th {
  border-bottom-color: transparent !important;
  border-top-color: transparent !important

}
td:first-child { width: 33% ;}

.table, h1, h2, h3, h4, h5, .highcharts-container, .highcharts-title {
  color: #bdb8b8 !important;
  font-weight: normal;
  fill: #bdb8b8 !important;
}
